<div class='container main-content'>



  <div class="card">
    <div class="card-header">
      hello
    </div>

    <div class="card-body">
      <form class="needs-validation" novalidate #loginForm="ngForm" autocomplete="off">
        <fieldset>
          {{maskTitle}}
        </fieldset>
        <button (click)="MyClick('hello')">hello</button>


        <ul>
          <!-- <li *ngFor="let item of lessons$ | async">
            {{item}}
          </li> -->

        </ul>
      </form>

    </div>


  </div>

</div>